/.vs
/TheCoffeHouse/TheCoffeHouse/bin
/TheCoffeHouse/TheCoffeHouse/obj
/TheCoffeHouse/TheCoffeHouse.Android/bin
/TheCoffeHouse/TheCoffeHouse.Android/obj
/TheCoffeHouse/TheCoffeHouse.iOS/bin
/TheCoffeHouse/TheCoffeHouse.iOS/obj
